/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #153448;
  padding: 20px;  
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header,nav ul {
  display: flex;
  align-items: center;
}

nav {
  flex-grow: 1;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #34495e;
}

.footer {
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.background-photo {
  background-image: url("img/lib-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1; 
  padding: 20px;
  padding-top: 150px;
  padding-bottom: 70px;
}

.contact .location .hoursOfOperation {
  margin-bottom: 20px;
}
  
/* Styles for smaller mobile phones */
@media (max-width: 480px) {
.container {
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}

nav {
  margin-top: 20px;
  margin-bottom: 20px; 
}

nav ul li a {
  font-size: 10px;
}

.content {
  margin-top: 140px;
  padding: 20px 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #D6C3C3;
}

.content{
  padding-top: 50px;
}

.content .contact {
  background-color: #153448;
  padding: 20px;
}

.info-item {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.content .contact img {
  width: 24px;
  height: 24px;
}

.content .location {
  text-align: center;
  background-color: #93AAB9;
  padding: 20px;
  color: #0E222E;
}

.content .location img{
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content .hoursOfOperation {
  text-align: center;
  background-color: #153448;
  padding: 20px;
}

.content .feedback {
  text-align: center;
  background-color: #93AAB9;
  padding: 25px;
  color: #0E222E;
}

.content .feedback .feedbackForm {
  text-align: left;
}

.content .feedbackForm .visitorFeedback {
  padding: 30px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #0E222E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
}

/* Styles for larger mobile phones*/
@media (min-width: 481px) and (max-width: 768px) {
.container {
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}

nav ul li a {
  font-size: 10px;
}

nav {
  margin-top: 20px;
  margin-bottom: 20px; 
}

.content {
  margin-top: 140px;
  padding: 20px 10px;
}
  
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #D6C3C3;
}

.content .contact {
  background-color: #153448;
  padding: 20px;
}

.info-item {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.content .contact img {
  width: 24px;
  height: 24px;
}

.content .location {
  text-align: center;
  background-color: #93AAB9;
  padding: 20px;
  color: #0E222E;
}

.content .location img{
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content .hoursOfOperation {
  text-align: center;
  background-color: #153448;
  padding: 20px;
}

.content .feedback {
  text-align: center;
  background-color: #93AAB9;
  padding: 25px;
  color: #0E222E;
}

.content .feedback .feedbackForm {
  text-align: left;
}

.content .feedbackForm .visitorFeedback {
  padding: 30px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #0E222E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}

nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  margin-top: 200px; 
  padding: 20px 10px;
}

}

/* Styles for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #D6C3C3;
}

.content1 {
  display: flex;
}

.contact {
  background-color: #153448;
  padding: 20px;
  flex: 1;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.content .contact img {
  width: 24px;
  height: 24px;
}

.location {
  text-align: center;
  background-color: #93AAB9;
  padding: 20px;
  flex: 2;
  margin-bottom: 20px;
  color: #0E222E;
}

.content .location img{
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content .hoursOfOperation {
  text-align: center;
  background-color: #153448;
  padding: 20px;
}

.content .feedback {
  text-align: center;
  background-color: #93AAB9;
  padding: 25px;
  color: #0E222E;
}

.content .feedback .feedbackForm {
  text-align: left;
}

.content .feedbackForm .visitorFeedback {
  padding: 30px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #0E222E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

}

/* Styles for desktops */
@media (min-width: 1025px) {

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #D6C3C3;
}

.content1 {
  display: flex;
}

.contact {
  background-color: #153448;
  padding: 20px;
  flex: 1;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.content .contact img {
  width: 24px;
  height: 24px;
}

.location {
  text-align: center;
  background-color: #93AAB9;
  padding: 20px;
  flex: 2;
  margin-bottom: 20px;
  color: #0E222E;
}

.content .location img{
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content .hoursOfOperation {
  text-align: center;
  background-color: #153448;
  padding: 20px;
}

.content .feedback {
  text-align: center;
  background-color: #93AAB9;
  padding: 25px;
  color: #0E222E;
}

.content .feedback .feedbackForm {
  text-align: left;
}

.content .feedbackForm .visitorFeedback {
  padding: 30px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #0E222E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
}