body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/lib-bg.jpg'); /* Add background image */
    background-size: cover; /* Adjust background image size */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center center; /* Center the background image */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px; /* Add padding at the bottom to prevent overlap with footer */
}

header {
    background-color: #153448;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    margin: 0;
    color:#fff;
    margin-bottom: 20px;
}

.content {
    margin-top: 20px;
    padding: 20px;
}

form {
    color: white;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.footer {
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }
  
@media screen and (max-width: 768px) {
    .container {
        width: 90%; /* Adjusted width for smaller screens */
    }
    .section {
        width: 100%;
        min-height: 100vh;
        background-image: url('img/lib-bg.jpg'); /* Add background image */
        background-size: cover; /* Adjust background image size */
        background-repeat: no-repeat; /* Prevent background image from repeating */
        background-position: center; /* Center the background image */
    }
}
