input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="date"] {
    width: calc(100% - 24px); /* Adjusted width to account for the padding */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%; /* Adjusted width to fit the container */
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    margin-top: 20px; /* Added margin to separate from other elements */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .container {
        width: 90%; /* Reduced width for better fit */
    }
    input[type="date"] {
        width: 100%; /* Full width for smaller screens */
    }
}
